<footer>
    <div class="link-container">
        <div>
            <h3>Useful Links</h3>
            <ul>
                <li>Home</li>
                <li>About Us</li>
                <li>Showcasing Talent</li>
            </ul>
        </div>
        <div>
            <h3>Get in Touch</h3>
            <ul>
                <li>Suite 2A, USA House,</li>
                <li>St Pauls Square, Birmingham, B3 1RL</li>
                <li>Phone: 0121-582-1600</li>
                <li>Email: info@hunnycoders.com</li>
            </ul>
        </div>
        <div>
            <h3>Partnerships</h3>
            <ul>
                <li>Agencies</li>
                <li>Mystery Shops</li>
            </ul>
        </div>
        <div>
            <h3>Social Media</h3>
            <ul class="social">
                <li>
                    <span class="material-icons">
                        facebook
                    </span>
                </li>
                <li>
                    <span class="material-icons">
                        phone
                    </span>
                </li>
            </ul>
        </div>
    </div>
    <div class="coryright-area">
        © 2021 Copyright Hunny Coders. All Rights Reserved.
    </div>

</footer>