<header>
    <div class="top-nav">
        <ul class="social">
            <li>
                <a target="_blank" href="https://www.facebook.com/hunnycoders">
                    <i class="fab fa-facebook-square"></i>
                </a>
            </li>
            <li>
                <a target="_blank" href="https://www.facebook.com/hunnycoders">
                    <i class="fab fa-twitter"></i>
                </a>
            </li>
            <li>
                <a target="_blank" href="https://www.youtube.com/c/hunnycoders">
                    <i class="fab fa-youtube"></i>
                </a>
            </li>
            <li>
                <a target="_blank" href="https://www.facebook.com/hunnycoders">
                    <i class="fab fa-instagram"></i>
                </a>
            </li>
        </ul>
        <ul class="right">
            <li>
                <i class="far fa-envelope"></i>
                <span>info@hunnycoders.com</span>
            </li>
            <li style="color: rgb(172, 171, 171)">|</li>
            <li>
                <i class="fas fa-phone-alt"></i>
                <span>+880 1757110296</span>
            </li>
        </ul>
    </div>
    <div class="main-nav">
        <div class="logo ss">
            <a href="/">
                <img src="img/hunny coders.jpg" alt="HC">
            </a>
        </div>
        <input type="checkbox" id="mobile-menu">
        <div class="menu">
            <div class="logo ls">
                <a href="/">
                    <img src="img/hunny coders.jpg" alt="HC">
                </a>
            </div>
            <nav>
                <ul>
                    <li class="{{#if active.home}}active{{/if}}">
                        <a href="/">HOME</a>
                    </li>
                    <li class="{{#if active.courses}}active{{/if}}">
                        <a href="/courses">COURSES</a>
                    </li>
                    <li class="{{#if active.videos}}active{{/if}}">
                        <a href="/videos">VIDEOS</a>
                    </li>
                    <li class="{{#if active.team}}active{{/if}}">
                        <a href="/team">OUR TEAM</a>
                    </li>
                </ul>
            </nav>
            <div class="buttons">
                <button class="{{#if active.contact}}active{{/if}}">
                    <a href="/contact">CONTACT US</a>
                </button>
            </div>
        </div>
        <label for="mobile-menu" class="hamburger">
            <span class="material-icons">menu</span>
        </label>
    </div>
</header>