@import 'constants';
.profile {
    max-width: 800px;
    margin: 40px auto;
    .left {
        img.main {
            max-height: 300px;
            width: auto;
            margin-right: 30px;
        }
        ul.social {
            margin-top: 10px;
            display: flex;
            gap: 33px;
            img {
                height: 50px;
                width: 50px;
            }
        }
    }
    .right {
        .title-tag {
            font-size: 40px;
            font-weight: 600;
        }
        .button {
            padding: 12px 25px;
            border-radius: 10px;
            font-size: 18px;
        }
        .skills {
            h4 {
                margin: 12px 0;
            }
            ul {
                display: flex;
                gap: 8px;
                flex-wrap: wrap;
                li {
                    display: inline-flex;
                    align-items: center;
                    background-color: lightgray;
                    padding: 4px 8px;
                    border-radius: 8px;
                    &::before {
                        font-family: "Material Icons";
                        content: "\e876";
                        font-size: 18px;
                        font-weight: bold;
                        margin-right: 5px;
                        color: $primary-color;
                    }
                }
            }
        }
    }
}
