@media only screen and (max-width: 420px) {
    header {
        padding: 0;
        .logo {
            height: 50px;
            img {
                height: 50px;
                width: auto;
            }
        }
        nav {
            display: none;
        }
    }
}
