@media only screen and (max-width: 670px) {
    header {
        .main-nav {
            padding: 0;
            .logo {
                height: 60px;
                img {
                    height: 60px;
                    width: auto;
                }
            }
            nav {
                display: none;
                ul {
                    padding: 24px 20px;
                    li {
                        &:hover {
                            &::after {
                                border-color: #FFFFFF;
                                transform: scaleX(1);
                            }
                        }
                    }
                }
    
                &::before {
                    content: "";
                    border-width: 12px;
                    border-style: solid;
                    border-color: transparent;
                    border-bottom-color: #0170c1;
                    position: absolute;
                    top: -24px;
                    right: 28px;
                }
            }
            input[type="checkbox"] {
                &:checked + nav {
                    display: block;
                    position: absolute;
                    background-color: #0170c1;
                    color: white;
                    right: 0; 
                    top: 60px;
                    ul {
                        flex-direction: column;
                    }
                }
            }
            .hamburger {
                display: inline-flex;
                align-items: center;
                justify-content: center;
            }
        }
    }

    footer {
        .link-container {
            grid-template-columns: 1fr;
        }
    }
}
