@import 'constants';
body {
    margin: 0;
    font-family: "Rboto", sans-serif !important;
}

a {
    color: inherit;
    text-decoration: none;
}

button, input {
    outline: none;
}

button {
    font-family: "Roboto", sans-serif;
    border: none;
    outline: none;
    background-color: none;
}

.button {
    padding: clamp(12px, 3vw, 20px) clamp(35px, 6vw, 50px);
    font-size: 18px;
    background: linear-gradient(90deg, $secondary-color 0%, $primary-color 100%);
    color: white;
    cursor: pointer;
}

header {
    .top-nav {
        display: flex;
        justify-content: space-between;
        background-color: $primary-color;
        color: white;
        padding: 10px clamp(20px, 7vw, 100px);
        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
            display: flex;
            font-size: 16px;
            
            &.social {
                display: flex;
                gap: 22px;
                margin-left: 4px;
            }

            &.right {
                display: flex;
                gap: 12px;
                font-size: 15px;
                li {
                    display: flex;
                    gap: 8px;
                    align-items: center;
                }
            }
        }
    }
    .main-nav {
        padding: 0 clamp(20px, 7vw, 100px);
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        box-shadow: -2px 10px 36px -6px rgba(181,181,181,1);
        background-color: transparent;
        font-size: 16px;
        font-family: 'Montserrat', sans-serif !important;
        text-transform: uppercase;
    
        input[type="checkbox"] {
            display: none;
        }
    
        .hamburger {
            border: 1px solid black;
            border-radius: 4px;
            padding: 4px;
            display: none;
            margin-right: 20px;
            cursor: pointer;
        }
        .logo {
            height: 80px;
            img {
                height: 80px;
                width: 80px;
            }
            &.ss {
                display: none;
            }
        }
        .menu {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            nav {
                ul {
                    list-style-type: none;
                    display: flex;
                    gap: clamp(18px, 3vw, 25px);
                    margin: 0;
                    padding: 0;
                    li {
                        position: relative;
                        &::after {
                            content: "";
                            display: block;
                            position: absolute;
                            width: 100%;
                            border-bottom: 4px solid transparent;
                            bottom: -8px;
                            transform: scaleX(0);
                            transition: transform .3s;
                        }
                        &:hover {
                            &::after {
                                border-color: $secondary-color;
                                transform: scaleX(1);
                            }
                        }
                        &.active {
                            font-weight: 500;
                            color: $primary-color;
                            &::after {
                                border-color: $primary-color;
                                transform: scaleX(1);
                            }
                        }
                    }
                }
            }
        
            .buttons {
                button {
                    font-family: inherit;
                    font-size: inherit;
                    background-color: $primary-color;
                    color: white;
                    padding: 12px 18px;
                    border-radius: 24px;
                }
            }
        }
    }
}

.hero {
    padding: 40px clamp(20px, 7vw, 100px) clamp(55px, 6vw, 105px);
    .title {
        color: $primary-color;
        font-size: 20px;
        font-weight: 500;
        word-spacing: 5px;
        letter-spacing: 1px;
        margin: clamp(10px, 4vw, 50px) 0;
    }

    h1 {
        margin: 0;
        font-size: clamp(30px, 5vw, 55px);
        &:nth-of-type(2) {
            font-weight: 400;
            letter-spacing: 1.5px;
            margin-bottom: clamp(30px, 3vw, 65px);
        }
    }
}

.section {
    &.services {
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: grid;
            grid-template-columns: repeat(3, auto);
            justify-content: center;
            gap: 20px;
            li {
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: lightblue;
                height: 300px;
                width: 450px;
                position: relative;
                &::before {
                    position: absolute;
                    content: "";
                    width: 0;
                    height: 0;
                    display: block;
                    border-top: 0 solid blue;
                    border-right: 0 solid blue;
                    top: -1.5px;
                    right: -1.5px;
                    transition: width linear 0.5s, height linear 0.5s;
                }
                &::after {
                    position: absolute;
                    content: "";
                    width: 0;
                    height: 0;
                    display: block;
                    border-left: 0 solid blue;
                    border-bottom: 0 solid blue;
                    bottom: -1.5px;
                    left: -1.5px;
                    background-color: rgba(128, 128, 1, 0);
                    transition: width linear 0.5s, height linear 0.5s, background-color .5s;
                }
                
                &:nth-of-type(even):hover {
                    &::before,
                    &::after {
                        background-color: rgba(128, 128, 1, 0.3);
                        width: 100%;
                        height: 100%;
                        border-width: 3px;
                    }
                }
                
                &:nth-of-type(odd):hover {
                    &::before,
                    &::after {
                        background-color: rgba(128, 128, 1, 0.3);
                        border-width: 3px;
                        animation: borderanimation 0.75s;
                        animation-fill-mode: forwards;
                    }
                }
            }
        }
    }
}


@import 'footer';


@keyframes borderanimation {
    0% {
        width: 0;
        height: 0;
    }

    50% {
        width: 100%;
        height: 0;
    }

    100% {
        width: 100%;
        height: 100%;
    }
}
