body {
  margin: 0;
  font-family: "Rboto", sans-serif !important;
}

a {
  color: inherit;
  text-decoration: none;
}

button, input {
  outline: none;
}

button {
  font-family: "Roboto", sans-serif;
  border: none;
  outline: none;
  background-color: none;
}

.button {
  padding: clamp(12px, 3vw, 20px) clamp(35px, 6vw, 50px);
  font-size: 18px;
  background: -webkit-gradient(linear, left top, right top, from(#00b6a2), to(#0170c1));
  background: linear-gradient(90deg, #00b6a2 0%, #0170c1 100%);
  color: white;
  cursor: pointer;
}

header .top-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #0170c1;
  color: white;
  padding: 10px clamp(20px, 7vw, 100px);
}

header .top-nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
}

header .top-nav ul.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 22px;
  margin-left: 4px;
}

header .top-nav ul.right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  font-size: 15px;
}

header .top-nav ul.right li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .main-nav {
  padding: 0 clamp(20px, 7vw, 100px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: -2px 10px 36px -6px #b5b5b5;
          box-shadow: -2px 10px 36px -6px #b5b5b5;
  background-color: transparent;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif !important;
  text-transform: uppercase;
}

header .main-nav input[type="checkbox"] {
  display: none;
}

header .main-nav .hamburger {
  border: 1px solid black;
  border-radius: 4px;
  padding: 4px;
  display: none;
  margin-right: 20px;
  cursor: pointer;
}

header .main-nav .logo {
  height: 80px;
}

header .main-nav .logo img {
  height: 80px;
  width: 80px;
}

header .main-nav .logo.ss {
  display: none;
}

header .main-nav .menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .main-nav .menu nav ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: clamp(18px, 3vw, 25px);
  margin: 0;
  padding: 0;
}

header .main-nav .menu nav ul li {
  position: relative;
}

header .main-nav .menu nav ul li::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  border-bottom: 4px solid transparent;
  bottom: -8px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

header .main-nav .menu nav ul li:hover::after {
  border-color: #00b6a2;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

header .main-nav .menu nav ul li.active {
  font-weight: 500;
  color: #0170c1;
}

header .main-nav .menu nav ul li.active::after {
  border-color: #0170c1;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

header .main-nav .menu .buttons button {
  font-family: inherit;
  font-size: inherit;
  background-color: #0170c1;
  color: white;
  padding: 12px 18px;
  border-radius: 24px;
}

.hero {
  background: url("../img/bu-bg.jpg");
  background-size: cover;
  height: clamp(350px, 65vh, 700px);
}

.hero .inner {
  padding: 40px clamp(20px, 7vw, 100px) clamp(55px, 6vw, 105px);
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
  color: white;
}

.hero .inner .title-tag {
  color: white;
  font-size: 20px;
  font-weight: 500;
  word-spacing: 5px;
  letter-spacing: 1px;
  margin: clamp(10px, 4vw, 50px) 0;
}

.hero .inner h1 {
  margin: 0;
  font-size: clamp(30px, 5vw, 55px);
}

.hero .inner h1:nth-of-type(2) {
  font-weight: 400;
  letter-spacing: 1.5px;
  margin-bottom: clamp(30px, 3vw, 65px);
}

.page-title, .area-title {
  font-family: 'Exo 2', sans-serif;
  text-transform: uppercase;
  font-size: clamp(28px, 4vw, 40px);
  font-weight: 400;
  text-align: center;
  margin: 15px 0;
}

.section {
  padding: 20px clamp(20px, 7vw, 100px) clamp(10px, 3vw, 50px);
}

.section.services {
  background-color: #0170c1;
  color: white;
}

.section.services ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-items: center;
  margin: auto;
  gap: 20px;
}

.section.services ul li {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  height: 130px;
  width: 250px;
  padding: clamp(10px, 2vw, 20px);
}

.section.services ul li .service-icon {
  font-size: 40px;
  color: #00b6a2;
}

.section.services ul li h3 {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  font-size: 18px;
  text-align: center;
  font-weight: normal;
  display: block;
}

.section.services ul li::before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  display: block;
  border-top: 0 solid #00b6a2;
  border-right: 0 solid #00b6a2;
  top: -1.5px;
  right: -1.5px;
  -webkit-transition: width linear 0.5s, height linear 0.5s;
  transition: width linear 0.5s, height linear 0.5s;
}

.section.services ul li::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  display: block;
  border-left: 0 solid #00b6a2;
  border-bottom: 0 solid #00b6a2;
  bottom: -1.5px;
  left: -1.5px;
  -webkit-transition: width linear 0.5s, height linear 0.5s, background-color .5s;
  transition: width linear 0.5s, height linear 0.5s, background-color .5s;
}

.section.services ul li:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.section.services ul li:nth-of-type(even):hover::before, .section.services ul li:nth-of-type(even):hover::after {
  width: 100%;
  height: 100%;
  border-width: 3px;
}

.section.services ul li:nth-of-type(odd):hover::before, .section.services ul li:nth-of-type(odd):hover::after {
  border-width: 3px;
  -webkit-animation: borderanimation 0.75s;
          animation: borderanimation 0.75s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

footer {
  background-color: #e4e4e4;
  padding: 0 clamp(20px, 7vw, 100px);
}

footer .link-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[4];
      grid-template-columns: repeat(4, auto);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 2px solid #d9d9d9;
  padding: 20px 20px 80px 20px;
}

footer .link-container h3 {
  font-weight: 400;
}

footer .link-container div ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer .link-container div ul.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}

footer .link-container div ul.social li {
  cursor: pointer;
}

footer .link-container div ul li {
  line-height: clamp(30px, 3vw, 35px);
}

footer .coryright-area {
  font-family: "Poppins", sans-serif;
  padding: clamp(20px, 10vw, 50px) 0;
  text-align: center;
  font-weight: 500;
  font-size: clamp(14px, 1vw, 18px);
}

@-webkit-keyframes borderanimation {
  0% {
    width: 0;
    height: 0;
  }
  50% {
    width: 100%;
    height: 0;
  }
  100% {
    width: 100%;
    height: 100%;
  }
}

@keyframes borderanimation {
  0% {
    width: 0;
    height: 0;
  }
  50% {
    width: 100%;
    height: 0;
  }
  100% {
    width: 100%;
    height: 100%;
  }
}
/*# sourceMappingURL=style.css.map */