@import 'constants';
body {
    margin: 0;
    font-family: "Rboto", sans-serif !important;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    outline: none;
    border: none;
}

header {
    .main-nav {
        padding: 0 clamp(20px, 7vw, 100px);
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        box-shadow: -2px 10px 36px -6px rgba(181,181,181,1);
        background-color: transparent;
        font-size: 16px;
        font-family: 'Montserrat', sans-serif !important;
        text-transform: uppercase;
        .logo {
            height: 80px;
            img {
                height: 80px;
                width: 80px;
            }
        }
    
        nav {
            ul {
                list-style-type: none;
                display: flex;
                gap: clamp(18px, 3vw, 25px);
                margin: 0;
                padding: 0;
                li {
                    position: relative;
                    &::after {
                        content: "";
                        display: block;
                        position: absolute;
                        width: 100%;
                        border-bottom: 4px solid transparent;
                        bottom: -8px;
                        transform: scaleX(0);
                        transition: transform .3s;
                    }
                    &:hover {
                        &::after {
                            border-color: $secondary-color;
                            transform: scaleX(1);
                        }
                    }
                    &.active {
                        font-weight: 500;
                        color: $primary-color;
                        &::after {
                            border-color: $primary-color;
                            transform: scaleX(1);
                        }
                    }
                }
            }
        }
    
        .buttons {
            button {
                font-family: inherit;
                font-size: inherit;
                background-color: $primary-color;
                color: white;
                padding: 12px 18px;
                border-radius: 24px;
            }
        }
    
        input[type="checkbox"] {
            display: none;
        }
    
        .hamburger {
            border: 1px solid black;
            border-radius: 4px;
            padding: 4px;
            display: none;
            margin-right: 20px;
            cursor: pointer;
        }
    }
}

.hero-section {
    height: 100vh; 
    display: flex; 
    align-items: center; 
    justify-content: center;
    background: url('../img/blurry-gradient.png');
    background-size: cover;
}


@import 'footer';
