<div class="flex profile">
    <div class="left">
        <img class="main" src="img/profile.jpg" alt="">
        <ul class="social">
            <li>
                <a href="https://www.upwork.com/freelancers/rjabdurrahman">
                    <img src="img/upwork.jpg">
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/rjabdurrahman1">
                    <img src="img/facebook.jpg">
                </a>
            </li>
            <li>
                <a href="https://twitter.com/rjabdurrahman">
                    <img src="img/twitter.jpg">
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/abdur-rahman-169652b4/">
                    <img src="img/linkedIn.jpg">
                </a>
            </li>
        </ul>
    </div>
    <div class="right">
        <h1 class="title-tag">I'm a Software Engineer</h1>
        <div class="buttons">
            <a href="https://www.upwork.com/freelancers/rjabdurrahman" class="button gradient">HIRE ME IN UPWORK</a>
            <button class="button gradient">SEND MESSAGE</button>
        </div>
        <div class="skills">
            <h4>Skills</h4>
            <ul>
                <li>JavaScript</li>
                <li>Node.js</li>
                <li>Angular</li>
                <li>React</li>
                <li>PHP</li>
                <li>API</li>
                <li>XML</li>
                <li>JSON</li>
                <li>PDF</li>
                <li>Charts</li>
                <li>MySQL</li>
                <li>MongoDB</li>
                <li>Firebase</li>
            </ul>
        </div>
    </div>
</div>