<div class="flex profile">
    <div class="left">
        <img class="main" src="img/profile.jpg" alt="">
        <ul class="social">
            <li>
                <img src="img/upwork.jpg">
            </li>
            <li>
                <img src="img/facebook.jpg">
            </li>
            <li>
                <img src="img/twitter.jpg">
            </li>
            <li>
                <img src="img/linkedIn.jpg">
            </li>
        </ul>
    </div>
    <div class="right">
        <h1 class="title-tag">I'm a Software Engineer</h1>
        <button class="button gradient">HIRE ME IN UPWORK</button>
    </div>
</div>