<div class="hero">
    <h5 class="title">APPLICATION DEVELOPMENT</h5>
    <h1>BOOST YOUR DEVELOPMENT</h1>
    <h1>TO WORLD WITH US</h1>
    <button class="button gradient">View Video</button>
</div>
<div class="section services">
    <h2>Our Services</h2>
    <ul>
        <li>
            <h3>Web/Desktop Application Development</h3>
        </li>
        <li>
            <h3>API Development</h3>
        </li>
        <li>
            <h3>Automation and Testing</h3>
        </li>
        <li>
            <h3>Bug Fixing</h3>
        </li>
        <li>
            <h3>Software Development Consultancy</h3>
        </li>
        <li>
            <h3>Software Development Courses</h3>
        </li>
    </ul>
</div>
{{!-- <div class="section projects">
    <ul>
        <li>
            <div class="title">Project 1</div>
            <div class="client">Yves</div>
            <div class="feedback">
                <div class="stars">******</div>
                <div class="msg">Awsome</div>
            </div>
        </li>
    </ul>
</div> --}}