<div class="hero">
    <div class="inner">
        <h5 class="title-tag">APPLICATION DEVELOPMENT</h5>
        <h1>BOOST YOUR DEVELOPMENT</h1>
        <h1>TO WORLD WITH US</h1>
        <button class="button gradient">Send Message</button>
    </div>
</div>
<div class="section services">
    <h2 class="area-title">Our Services</h2>
    <ul style="max-width: 1100px;">
        <li>
            <div class="service-icon">
                <i class="fas fa-globe-americas"></i>
            </div>
            <h3>Web/Desktop Application Development</h3>
        </li>
        <li>
            <div class="service-icon">
                <i class="fas fa-window-maximize"></i>
            </div>
            <h3>Front-End Development</h3>
        </li>
        <li>
            <div class="service-icon">
                <i class="fas fa-code"></i>
            </div>
            <h3>Back-End Development</h3>
        </li>
        <li>
            <div class="service-icon">
                <i class="fab fa-uncharted"></i>
            </div>
            <h3>API Development &amp; Integration</h3>
        </li>
        <li>
            <div class="service-icon">
                <i class="fas fa-vial"></i>
            </div>
            <h3>Automation and Testing</h3>
        </li>
        <li>
            <div class="service-icon">
                <i class="fas fa-wrench"></i>
            </div>
            <h3>Bug Fixing</h3>
        </li>
        <li>
            <div class="service-icon">
                <i class="fas fa-user-check"></i>
            </div>
            <h3>Software Development Consultancy</h3>
        </li>
        <li>
            <div class="service-icon">
                <i class="fas fa-pen"></i>
            </div>
            <h3>Software Development Courses</h3>
        </li>
    </ul>
</div>
{{!-- <div class="section projects">
    <ul>
        <li>
            <div class="title">Project 1</div>
            <div class="client">Yves</div>
            <div class="feedback">
                <div class="stars">******</div>
                <div class="msg">Awsome</div>
            </div>
        </li>
    </ul>
</div> --}}