<div class="hero">
    <h5 class="title">APPLICATION DEVELOPMENT</h5>
    <h1>BOOST YOUR DEVELOPMENT</h1>
    <h1>TO WORLD WITH US</h1>
    <button class="button gradient">View Video</button>
</div>
<div class="section services">
    <ul>
        <li>Web Application Development</li>
        <li>Automation</li>
        <li>Bug Fixing</li>
        <li>Consultancy</li>
        <li>Online Development Courses</li>
    </ul>
</div>
<div class="section projects">
    <ul>
        <li>
            <div class="title">Project 1</div>
            <div class="client">Yves</div>
            <div class="feedback">
                <div class="stars">******</div>
                <div class="msg">Awsome</div>
            </div>
        </li>
    </ul>
</div>