{{!-- <div class="hero-section">
    <h1 style="text-align: center;">This site is under Development...</h1>
</div> --}}

<div class="hero">
    <h5 class="title">APPLICATION DEVELOPMENT</h5>
    <h1>BOOST YOUR DEVELOPMENT</h1>
    <h1>TO WORLD WITH US</h1>
    <button class="button gradient">View Video</button>
</div>